

#outter-div {
  background-color: #080707;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(242, 246, 221);
}

#drum-machine {
  background-color: #3a5038;
  display: flex;
  align-items: center;
  border: solid 10px rgb(5, 43, 9);
  margin: 100px;
  height: 600px;
  width: 1000px;
}

#display{
  background-color: #51764d;
  display: inline-flex;
  border: solid 4px rgb(5, 43, 9);
  border-radius: 12px;
  margin: 180px;
  padding: 9px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.drum-pads {
  background-color: rgb(1, 43, 11);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 31px;
  padding: 10px;
  border: solid 4px rgb(5, 43, 9);
  height: 400px;
  width: 400px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  border-radius: 12px;
  font-family: Arial;
}

.drum-pad {
  background-color: #51764d;
  padding: 5px;
  margin: 5px;
  border: outset 1.2px #436045;
  border-radius: 31px;
  font-size: calc(10px + 2vmin);
  color: rgb(242, 246, 221);
  font-family: Arial;
}


